@model TravelExpertsData.Models.Booking

@{
    ViewData["Title"] = "Cancel";
}
<div class="container travel-box">
    <h4>Cancel Booking</h4>

    <h3 class="text-danger">Are you sure you want to Cancel this?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BookingId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BookingId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BookingDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BookingDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BookingNo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BookingNo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TravelerCount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TravelerCount)
            </dd>
        </dl>

        <form asp-action="Cancel">
            <input type="submit" value="Cancel" class="btn btn-primary"
                   onclick="return confirm('Are you sure you wish to cancel this booking?');" />
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </form>
    </div>
</div>