@*Purpose:Display all packages that customer bought
Name:Sujani Wijesundera*@

@model IEnumerable<TravelExpertsData.Models.Booking>

@{
    ViewData["Title"] = "Index";
}


@if (Model.Count() > 0)  @*if my packages exists*@
{
    <div class="container-fluid">
        <div class="row travel-box-light">
            <h4 class="col-md-12 text-center">My Bookings</h4>
            <table class="table table-bordered table-striped text-info">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BookingId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookingDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookingNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TravelerCount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookingDetails.GetEnumerator().Current.TripStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookingDetails.GetEnumerator().Current.TripEnd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Package.PkgName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Package.PkgStartDate)
                        </th>
                     <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TravelerCount)
                        </td>
                        <td>
                            @foreach (var bd in item.BookingDetails)
                            {
                                @Html.DisplayFor(modelItem => bd.TripStart)
                            }

                        </td>
                        <td>
                            @foreach (var bd in item.BookingDetails)
                            {
                                @Html.DisplayFor(modelItem => bd.TripEnd)
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Package.PkgName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Package.PkgStartDate)
                        </td>
                        <td>

                            @if (item.Package.PkgStartDate >= DateTime.Now) @*check whether the package start date already pass or not*@
                            {
                                if (item.CancelFlag == 0) /*checked package already cancel or not*/
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.BookingId }, new { @class = "btn btn-primary mr-2" })
                                    @Html.ActionLink("Cancel", "Cancel", new { id = item.BookingId }, new { @class = "btn btn-primary" })
                                }
                                else /*otherwise display "cancelled" in package*/
                                {
                                    <span class="text-danger">Cancelled</span>
                                }
                            }
                            else /*if package start date is less tahn the today dispaly following message*/
                            {
                                <span class="text-success">Package Already Started</span>
                            }

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else  /*if customer does not have packages*/
{
<div class="container travel-box">
    <div class="alert alert-info mb-5">No Packages are available. Please buy a Package.</div>
    <a asp-action="Index" asp-controller="Package" class="btn btn-primary">Back to packages</a>
</div>
}

