@*Purpose:Page for buying package
Author:Sujani Wijesundera*@

@model TravelExpertsData.Models.BookingBookingDetailsModelView

@{
    ViewData["Title"] = "BuyPackage";
}
<div class="container travel-box"> @*display package details*@
    <div class="alert alert-primary" role="alert">
        <h5>@ViewBag.Package.PkgDesc</h5>
        <h5>Destination: @ViewBag.Package.PkgName </h5>
        <h6>Total Price: @ViewBag.Package.PkgBasePrice.ToString("c") </h6>
        <h6>Start Date: @ViewBag.Package.PkgStartDate.ToString("d") </h6>
        <h6>End Date: @ViewBag.Package.PkgEndDate.ToString("d") </h6>


    </div>
    <hr />

    <div class="row">
        <div class="col-sm-12">
            <form asp-action="BuyPackage">
                @{

                    var session = new TravelExpertsData.Models.UserSession(Context.Session); /*Get user id from session. Can get this from controller class too*/


                    var CustomerId = session.GetMyCustId(); /*Get customer the customer id from session*/
                    var PackageId = ViewBag.Package.PackageId;
                    var BasePrice = ViewBag.Package.PkgBasePrice;
                    var AgencyCommission = ViewBag.Package.PkgAgencyCommission;
                    var Destination = ViewBag.Package.PkgDesc;

                }
                <input type="hidden" asp-for="@CustomerId" /> @*send information hidden to the controller*@
                <input type="hidden" asp-for="@PackageId" />

                <input type="hidden" asp-for="@AgencyCommission" />
                <input type="hidden" asp-for="@Destination" />
                <input type="hidden" asp-for="@BasePrice" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="TravelerCount" class="control-label col-sm-2"></label>
                    <input asp-for="TravelerCount" class="form-control col-sm-1" />
                    <span asp-validation-for="TravelerCount" class="text-danger col-sm-9"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="TripStart" class="control-label col-sm-2"></label>
                    <input asp-for="TripStart" class="form-control col-sm-3" />
                    <span asp-validation-for="TripStart" class="text-danger col-sm-7"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="TripEnd" class="control-label col-sm-2"></label>
                    <input asp-for="TripEnd" class="form-control col-sm-3" />
                    <span asp-validation-for="TripEnd" class="text-danger col-sm-7"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="TripTypeId" class="control-label col-sm-2">Trip Type</label>
                    <select asp-for="TripTypeId" class="form-control col-sm-3">
                        <option value="">--Select Trip Type--</option>
                        <option value="B">Business</option>
                        <option value="G">Group</option>
                        <option value="L">Leisure</option>
                    </select>
                    <span asp-validation-for="TripTypeId" class="text-danger col-sm-7"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="BUY" class="btn btn-primary mr-2" />
                    <a asp-action="Index" class="btn btn-primary">Back to Packages</a>
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
